<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intelli_tags">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntelliTags">
        <activity
            android:name=".ui.main.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <service android:name="org.eclipse.paho.android.service.MqttService" /> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IntelliTags">

        </activity>

        <meta-data
            android:name="Symbl_Token"
            android:value="${Symbl_Access_Token}" />
        <meta-data
            android:name="SymblAppId"
            android:value="${Symbl_App_ID}" />
        <meta-data
            android:name="SymblAppSecret"
            android:value="${Symbl_App_Secret}" />
        <meta-data
            android:name="ModzyAPIKey"
            android:value="${Modzy_API_Key}" />
        <meta-data
            android:name="AWSAccessId"
            android:value="${AWS_Access_ID}" />
        <meta-data
            android:name="AWSSecretKey"
            android:value="${AWS_Secret_Access_Key}" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>